.p-paginator-current {
    @media screen and (max-width: 992px) {
        display: flex;
        width: 100%;
        text-align: center;
    }
}
.p-paginator {
    padding: 0.5rem 0rem;
    .p-paginator-pages {
        .p-paginator-page {
            &.p-highlight {
                background: $brand-primary;
                color: $white;
            }
        }
    }
}
.p-datatable-tbody > tr > td {
    padding: 0.5rem 1rem !important;
}
.p-datatable {
    .p-datatable-thead > tr {
        &:last-child {
            th {
                border: 1px solid #e9ecef;
            }
        }
        th {
            border-color: $brand-primary;
            border-bottom-width: 2px;
        }
    }
    .p-sortable-column:focus {
        box-shadow: none;
    }
}

.responsive-table .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}
@media screen and (max-width: 992px) {
    .p-datatable {
        &.responsive-table {
            .p-datatable-thead > tr > th,
            .p-datatable-tfoot > tr > td {
                display: none !important;
            }

            .p-datatable-tbody > tr > td {
                text-align: left;
                display: block;
                width: 100%;
                float: left;
                clear: left;
                border: 0 none;

                .p-column-title {
                    padding: 0.4rem;
                    min-width: 30%;
                    display: inline-block;
                    margin: -0.4em 1em -0.4em -0.4rem;
                    font-weight: bold;
                }

                &:last-child {
                    border-bottom: 1px solid var(--surface-d);
                }
            }
        }
    }
}
