.no-result-found{
    padding:20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 2rem;
      
    }
    .title-1{
        font-size: 3rem;
        color: #000;
    }
}